# Binaries & Large Files
*.exe

# User Settings
settings.json

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Build artifacts
build/
dist/
*.spec

# Debug logs
*.log

# OS & Temp files
.DS_Store
Thumbs.db
Novo Documento de Texto*
